<div class="row">

    <div class="col" id="questions">

        <button onclick="addQuestion()" class="btn btn-secondary" id="addQuestionBtn" type="button">Add Another question</button>
    </div>
</div>