.examBtn {
    background-color: #778897;
    width: 250px;
    font-size: 20px;
    border: 1px solid #1D3C6A;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}

.examBtn:hover {
    cursor: pointer;
    background-color: #57636e;
}

.examBtn:focus {
    outline: 0;
}


